* {
  box-sizing: border-box;
}

:root {
  --color-primary-10: #e7cffe;
  --color-primary-50: #dcbcfb;
  --color-primary-100: #ca97fc;
  --color-primary-200: #b779f4;
  --color-primary-300: #a85ff0;
  --color-primary-400: #8f42dd;
  --color-primary-500: #8d34e6;
  --color-primary-600: #8021e0;
  --color-primary-700: #690fc3;
  --color-primary-800: #4e0596;

  --color-secondary-50: hsl(24, 93%, 83%);
  --color-secondary-100: hsl(24, 91%, 75%);
  --color-secondary-200: hsl(24, 96%, 68%);
  --color-secondary-300: hsl(24, 96%, 61%);
  --color-secondary-400: hsl(24, 96%, 53%);
  --color-secondary-500: hsl(24, 100%, 50%);
  --color-secondary-600: hsl(22, 90%, 50%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(
    ellipse at top,
    var(--color-primary-400),
    var(--color-primary-100)
  );
  min-height: 100vh;
}

#main-navigation {
  padding: 2rem 15%;
  display: flex;
  justify-content: center;
}

#main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.nav-item a {
  text-decoration: none;
  color: var(--color-primary-10);
}

.nav-item a:hover,
.nav-item a.active {
  color: var(--color-secondary-200);
}

.error {
  max-width: 25rem;
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--color-secondary-100);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.info-message {
  margin: 2rem;
  text-align: center;
  color: var(--color-primary-50);
  font-size: 1.5rem;
}

@keyframes fade-blur-in {
  from {
    opacity: 0;
    filter: blur(1rem);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-slide-in {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
  }
}
